.container {
    height: 500px;
    width: 500px;
    background-color: green;
    border: 4px solid black;
    display: flex;
}
.box {
    height: 150px;
    width: 150px;
    margin: 30px;
    border: 2px solid orange;
    background-color: aquamarine;
    /* transition: width 2s linear 1s; */
    /* transition: transform 1s ease 3s; */
    /* transition: all 3s ease 1s; */
    transition-property: transform;
    transition-duration: 3s;
    transition-timing-function: ease;
    transition-delay: 1s;
}
.box:hover {
    background-color: brown;
    transform: scale(2) translateX(500px) rotate(360deg);
}